<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="/fragments/head :: head"></head>
<body>

<div class="container">
    <header th:replace="/fragments/header :: header"></header>
    <div th:replace="/fragments/navigation :: navigation"></div>
</div>

<main class="container">
    <div th:replace="/fragments/title :: title"></div>

    <div th:replace="/fragments/latest :: latest"></div>

    <div class="row g-5">
        <div th:replace="/fragments/blogs :: blogs"></div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div th:replace="/fragments/about :: about"></div>
                <div th:replace="/fragments/archives :: archives"></div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>