<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My simple blogging</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>
<body>

<div class="container">
    <header th:replace="/fragments/header :: header"></header>
    <div th:replace="/fragments/navigation :: navigation"></div>
</div>

<main class="container">
    <div th:replace="/fragments/title :: title"></div>

    <div th:replace="/fragments/latest :: latest"></div>

    <div class="row g-5">
        <div th:replace="/fragments/blogs :: blogs"></div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div th:replace="/fragments/about :: about"></div>
                <div th:replace="/fragments/archives :: archives"></div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>